---
import { Icon } from 'astro-icon/components';
import {
	Container, 
	FeatureCard, 
	CustomerQuoteSection,
	StickyTextImageSection,
	Button
} from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />

	<CustomerQuoteSection
		quoteText="IT部門のジェネラリスト"
		customerName="IT部門のあらゆる業務を社員の立場で支援しています。"
	/>

	<StickyTextImageSection>
		<div slot="text-container" id="Domains">
			<h2>Domains</h2>
			<p>現場での主な活動分野</p>
			<h3>DX<span> - DX推進</span></h3>
			<p>
				「顧客視点の獲得」「市場変化への迅速な対応能力の獲得」「新規デジタルビジネスの創出」に向けた活動を、検討段階からフルサイクルで支援しています。
			</p>

			<h3>Lean × Agile<span> - 仮説検証型アジャイル開発</span></h3>
			<p>
				仮説検証とアジャイル開発を組み合わせたものづくりを多く採用しています。仮説立案から、BMLループすべての段階を支援しています。
			</p>

			<h3>xOps<span> - プロセス改善</span></h3>
			<p>
				AsIs業務プロセスの可視化、問題の検出、ToBe像の立案から、必要になるものづくり、ToBeプロセス適用の伴走まで、すべてのステージを支援しています。
			</p>

			<h3>Enablement<span> - 人材育成</span></h3>
			<p>
				求める成果に必要な行動、行動に必要な知識/スキルの整理段階から、コンテンツの整備、トレーニング実施、実績データ収集から分析まで、すべてのサイクルを支援しています。
			</p>

			<h3>Customer Success<span> - 伴走支援</span></h3>
			<p>
				サクセスロードマップ、ヘルススコアの策定から、データ収集・CTAの仕組みづくり、顧客との伴走まで幅広く支援しています。
			</p>

			<div class="button-container">
				<Button href="/profile/works/dashboard" customIcon>
					Dashboard<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
				<Button href="https://docs.google.com/spreadsheets/d/1TCUUjduPYQPXYOAyAwVqX9xT7JbJcU8JebFxEfas6Fo/edit?gid=530942456#gid=530942456" customIcon outlined newTab>
					職務経歴<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
			</div>
		</div>
		<picture slot="image-container">
			<img
				src="/profile/assets/images/desk.webp"
				alt="desk"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

	<Container>
		<section class="feature-card__section" id="Roles">
			<h2>Roles</h2>
			<p>プロジェクトで担ってきた役割</p>
			<div>
				<iframe title="ロール" class="visualization" style="width: 100%; aspect-ratio: 16 / 9; border: 0px;"
        src="https://lookerstudio.google.com/embed/reporting/dadde153-a36d-4ba8-bd06-497b1e7dbd91/page/p_biyhv4gnpd" 
        allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
				</iframe>
			</div>
			<div class="button-container">
				<Button href="/profile/works/dashboard" customIcon>
					Dashboard<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
				<Button href="https://docs.google.com/spreadsheets/d/1TCUUjduPYQPXYOAyAwVqX9xT7JbJcU8JebFxEfas6Fo/edit?gid=530942456#gid=530942456" customIcon outlined newTab>
					職務経歴<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section" id="OSS">
			<h2>OSS</h2>
			<p>公開しているツールやプロダクト</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="https://github.com/suwa-sh/gcal-history"
					title="gcal-history"
          imgSrc="/profile/assets/images/oss/gcal-history"
				></FeatureCard>
				<FeatureCard
					href="https://in-house-swagger.github.io/in-house-swagger"
					title="in-house-swagger"
          imgSrc="/profile/assets/images/oss/in-house-swagger"
				></FeatureCard>
				<FeatureCard
					href="https://scenario-test-framework.github.io/compare-files"
					title="compare-files"
					imgSrc="/profile/assets/images/oss/compare-files"
				></FeatureCard>
				<FeatureCard
					href="https://github.com/suwa-sh/devops-criteria"
					title="DevOps Criteria"
					imgSrc="/profile/assets/images/oss/devops-criteria"
				></FeatureCard>
			</div>

			<div class="button-container">
				<Button href="https://github.com/suwa-sh" customIcon>
					GitHub<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section" id="Slides">
			<h2>Slides</h2>
			<p>公開しているスライド</p>
			<div class="feature-card__grid">
				<iframe class="speakerdeck-iframe" src="https://speakerdeck.com/player/493b78f0a96948b9bc0451df7f2d6822" title="ソフトウェアテスト入門 / 2022-08-30 software testing" allowfullscreen="true" style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" data-ratio="1.7777777777777777"></iframe>
				<iframe class="speakerdeck-iframe" src="https://speakerdeck.com/player/3aabe1726a6c4c4c898b5ac07c7df65a" title="地域企業のDXを副業で支援しよう / 2021-11-25 DevLOVE" allowfullscreen="true" style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" data-ratio="1.7777777777777777"></iframe>
				<iframe class="speakerdeck-iframe" src="https://speakerdeck.com/player/f4d305c646b0475ab0fec96d9b5c0f6d" title="より楽で安全に、より早く多く顧客に価値を届ける NoOps / 2020-12-16 NoOpsJP" allowfullscreen="true" style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" data-ratio="1.7777777777777777"></iframe>
				<iframe class="speakerdeck-iframe" src="https://speakerdeck.com/player/bf611c02a06441a3b7eae5ad11f659f7" title="コロナ禍のチーム構成変更をイネーブルメントで乗り越える / DevLOVE 2020-08-08" allowfullscreen="true" style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" data-ratio="1.7777777777777777"></iframe>
			</div>

			<div class="button-container">
				<Button href="https://speakerdeck.com/suwash" customIcon>
					Speaker Deck<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section" id="Blog">
			<h2>Blog</h2>
			<p>公開している記事</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="https://note.com/suwash/n/n02fa7e60d409"
					title="enablement"
          imgSrc="/profile/assets/images/blog/enablement"
				></FeatureCard>
				<FeatureCard
					href="https://note.com/suwash/n/nacf5b3bfdde2"
					title="DX"
          imgSrc="/profile/assets/images/blog/dx"
				></FeatureCard>
				<FeatureCard
					href="https://note.com/suwash/n/n869c06c749e6"
					title="architecture"
					imgSrc="/profile/assets/images/blog/arch"
				></FeatureCard>
				<FeatureCard
					href="https://note.com/suwash/n/nb25aaf18d7f8"
					title="process"
					imgSrc="/profile/assets/images/blog/process"
				></FeatureCard>
			</div>

			<div class="button-container">
				<Button href="https://note.com/suwash" customIcon>
					note<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment>
				</Button>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section" id="Contact">
			<h2>Contact Me</h2>
			<p>ご興味のある方はこちらのフォームからご連絡ください。</p>
			<div>
        <iframe
          title="問い合わせフォーム"
          src="https://docs.google.com/forms/d/e/1FAIpQLSdeOmFRvOJlCkFfN3wK-xFtjzvs_RzQtWG-D528pVfEyKBbKQ/viewform?embedded=true"
          style="width: 100%; height: 1368px; border: 0px;">
				</iframe>
			</div>
		</section>
	</Container>

</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}

	h2 span{
		font-size: 1.5rem;
		color: gray;
	}
	h3 span{
		font-size: 1.2rem;
		color: gray;
	}

	.button-container {
		margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
	}

	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
